.input {

  font-family: Raleway;
  color: #a5a5a5;
  font-size: 16px;
  font-weight: 500;
  line-height: 38px;
  padding: 0 20px;

  width: 311px;
  height: 38px;

  border-radius: 50px;
  border: none;

  outline: none;

  &:focus {
    outline: none;
  }
}

.input.success {
  background: #07A32D;
  color: #ffffff;
}

.input.error {
  background: #D41E51;
  color: #ffffff;
}