!!! 5
//if IE 8
	html(class="ie8", lang="ru")
//if IE 9
	html(class="ie9", lang="ru")
//if gt IE 9
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script
			if (typeof jQuery == 'undefined') {
				document.write(unescape("%3Cscript src='/js/jquery-1.11.0.js' type='text/javascript'%3E%3C/script%3E"));
			}
		script(src="/js/jquery.html5Loader.js")
		title

		link(rel="stylesheet", href="css/main.css")

		//if IE 8
			script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
	body.page
		include ../_mixins

		+loader
		script(src="/js/preloader.js")

		block content

		script(src="js/main.js")
		script(src="//l2.io/ip.js?var=ip")
		script(src="//js.maxmind.com/js/apis/geoip2/v2.1/geoip2.js")