mixin back()
	.back
mixin button()
	.button.js-widget
mixin content()
	.content
mixin header()
	.header
mixin input()
	.input.js-widget
mixin loader()
	.loader
		span
mixin page()
	.page
mixin progress()
	.progress(onclick="return {progress: {}}").js-widget
		.progress__container
			.progress__bar
mixin slide()
	.slide
mixin social-likes()
	.social-likes
mixin title()
	.title