mixin back()
	.back
mixin button()
	.button
mixin content()
	.content
mixin header()
	.header
mixin input()
	.input
mixin loader()
	.loader
		span
mixin page()
	.page
mixin progress()
	.progress(onclick="return {progress: {}}").js-widget
		.progress__container
			.progress__bar
mixin slide()
	.slide
mixin title()
	.title