.header {
	position: fixed;
	width: 1000px;
	height: 120px;
	top: 35px;
	left: 50%;
	margin-left: -500px;
	z-index: 5;
	text-align: center;

	@media (max-width: 1024px) {
		left: 20px;
		right: 20px;
		margin: 0;
		width: auto;
	}

	&__logo {
		// font-family: JournalSansC;
		color: #ffffff;
		font-size: 27px;
		font-weight: 700;
		line-height: 32px;
	}

	&__slogan {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;

		font-family: @ideaL;
		// font-family: IdealistSans;
		// color: #9ce4ff;
		color: #9ce4ff;
		font-size: 24px;
		font-weight: 300;
		line-height: 32px;

	}

	&__get-invite {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		top: 140px;
		opacity: 0;
		transition: opacity 500ms;

		._2 & {
			opacity: 1;
		}
	}

	&__share {
		// border-radius: 5px;
		// border-radius: 5px;
		// border-width: 2px;
		// border-color: rgba(255, 255, 255, 0.2);
		// border-style: solid;

		font-family: @ideaL;
		color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
		// padding: 0 13px;
		position: relative;

		a {
			display: inline-block;
			text-decoration: none;
			color: #fff;
		}

		&-num {
			position: absolute;
			left: 100%;
			top: 0px;
			height: 34px;
			margin-left: 13px;
			border: 2px solid rgba(0,0,0,0.1);
			border-radius: 5px;
			padding: 1px 11px;

			&:before {
				content: '';
				width: 0;
				height: 0;
				border: 7px solid rgba(0,0,0,0.1);
				border-left-color: transparent;
				border-top-color: transparent;
				border-bottom-color: transparent;
				position: absolute;
				right: 100%;
				top: 0;
				bottom: 0;
				margin: auto;
				margin-right: 2px;
			}

			&:after, span {
				content: '';
				width: 0;
				height: 0;
				border: 5px solid #415996;
				border-left-color: transparent;
				border-top-color: transparent;
				border-bottom-color: transparent;
				position: absolute;
				right: 100%;
				top: 0;
				bottom: 0;
				margin: auto;
				margin-right: 2px;
				transition: all 500ms;

				._1 & { 
					border-right-color: #415996;
				}

				._2 & {
					border-right-color: #415996;
				}

				._3 & {
					border-right-color: #574196;
				}

				._4 & {
					border-right-color: #96415d;
				}

				._5 & {
					border-right-color: #1d9b40;
				}

				._6 & {
					border-right-color: #417d96;
				}

				._7 & {
					border-right-color: #e98d3a;
				}
			}

			span {
				width: 0px;
				height: 13px;
				margin-right: 0;
				border-right-width: 4px;
			}
		}
	}

	&__lang {
		// font-family: IdealistSans;
		// color: #90abf0;
		position: absolute;
		right: 0;
		top: 10px;
		font-size: 18px;
		font-weight: 300;
		line-height: 26px;
		color: #90abf0;
	}

	&__share {
		position: absolute;
		left: 0;
		top: 10px;
	}
}